<!-- Encabezado de la página -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title> <!-- Título de la página -->
  </ion-toolbar>
</ion-header>

<!-- Contenido de la página -->
<ion-content [fullscreen]="true" class="login-background">
  <div id="container">
    <div class="login-container">
      <form [formGroup]="formularioLogin">

        <strong>Login RegistrApp</strong>

        <!-- Campo de usuario -->
        <ion-item [ngClass]="{'invalid': isFieldInvalid('usuario'), 'valid': isFieldValid('usuario')}">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input 
            type="text" 
            formControlName="usuario" 
            (ionFocus)="usuarioFocused = true" 
            (ionBlur)="usuarioFocused = false">
          </ion-input>
        </ion-item>

        <!-- Mensaje de error para el campo de usuario -->
        <ion-text color="danger" *ngIf="isFieldInvalid('usuario')" class="error-message">
          Ingresa un nombre de usuario válido
        </ion-text>

        <!-- Campo de contraseña -->
        <ion-item [ngClass]="{'invalid': isFieldInvalid('contraseña'), 'valid': isFieldValid('contraseña')}">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input 
            [type]="passwordType" 
            formControlName="contraseña" 
            (ionFocus)="passwordFocused = true" 
            (ionBlur)="passwordFocused = false">
          </ion-input>
          <ion-button fill="clear" size="small" slot="end" (click)="togglePasswordVisibility()">
            <ion-icon [name]="passwordIcon"></ion-icon>
          </ion-button>
        </ion-item>

        <!-- Mensaje de error para el campo de contraseña -->
        <ion-text color="danger" *ngIf="isFieldInvalid('contraseña')" class="error-message">
          Ingresa una contraseña válida
        </ion-text>

        <!-- Botón de inicio de sesión -->
        <ion-button expand="full" [disabled]="!formularioLogin.valid" (click)="irHome()">
          Login
        </ion-button>

      </form>
    </div>
  </div>
</ion-content>

<!-- Pie de página -->
<ion-footer>
  <ion-toolbar color="primary" class="centered-toolbar">
    <ion-buttons>
      <!-- Botón para recuperar contraseña -->
      <ion-button class="centered-button" [routerLink]="['/formulario']">
        Recuperar Contraseña
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
