ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.qr-container {
  display: flex;
  justify-content: center;  /* Centra el contenido horizontalmente */
  align-items: center;      /* Centra el contenido verticalmente */
  height: 60vh;             /* Ajusta el alto del contenedor a un 60% de la altura de la pantalla */
  margin-top: 20px;         /* Margen superior para separar el QR del resto de elementos */
}

.qr-image {
  max-width: 100%;          /* Asegura que la imagen no se desborde */
  max-height: 300px;        /* Limita la altura máxima de la imagen */
}
