<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="modern-contact-page">
  <div *ngFor="let user of users" class="contact-card">
    <img [src]="user.picture.thumbnail" alt="User Picture" class="profile-image" />
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ user.name.first }} {{ user.name.last }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Email: {{ user.email }}</p>
        <p>Location: {{ user.location.city }}, {{ user.location.country }}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="!users || users.length === 0" class="loading-message">
    <p>Cargando usuarios...</p>
  </div>
  <ion-button expand="full" (click)="fetchRandomUsers()" class="generate-button">Generar Nuevos Usuarios</ion-button>
</ion-content>
