<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <h1>Bienvenido a RegistrAPP</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <div id="container">
    <h1>Bienvenido, {{ usuario }}</h1>
    <h2 [ngClass]="{ 'class-started': isClassStarted, 'class-not-started': !isClassStarted }">
      {{ isClassStarted ? 'Clase iniciada' : 'Clase no iniciada' }}
    </h2>
    <div class="toggle-container">
      <ion-toggle aria-label="Green toggle" color="success" [(ngModel)]="isClassStarted"></ion-toggle>
      <ion-datetime locale="es-ES" displayFormat="DD/MM/YYYY" [disabled]="!isClassStarted"></ion-datetime>
    </div>
    <ion-button (click)="presentAlert()">Finalizar la Clase</ion-button>
  </div>
</ion-content>
