<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <div id="container">
    <h1>Bienvenid@, {{ usuario }}</h1> <!-- Muestra el nombre del usuario -->
    
    <!-- Mensaje de estado con animación de parpadeo -->
    <h2 [ngClass]="{ 'class-started': isClassStarted, 'class-not-started': !isClassStarted }">
      {{ isClassStarted ? 'Clase iniciada' : 'Clase no iniciada' }}
    </h2>

    <div class="toggle-container">
      <ion-toggle aria-label="Toggle de clase" color="success" [(ngModel)]="isClassStarted"></ion-toggle>
      
      <!-- Selector de fecha/hora, habilitado solo si la clase está iniciada -->
      <ion-datetime locale="es-ES" displayFormat="DD/MM/YYYY" [disabled]="!isClassStarted"></ion-datetime>
    </div>

    <!-- Botón para finalizar la clase -->
    <div>
      <ion-button id="end-class-button" (click)="presentAlert()">Finalizar la sesión</ion-button>
    </div>

    <!-- Botón para generar el QR con los datos -->
    <div>
      <ion-button (click)="goToQrGenerator()">Generar QR</ion-button> <!-- Botón para ir a la página del QR -->
    </div>
  </div>
</ion-content>
